<nav class="navbar navbar-expand-lg navbar-light navcolor">
    <div class="container-fluid">
        <div class="navbar-nav">
            <a class="navbar-brand">beyond our plate</a>
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link" href="{% url 'home' %}">home</a>
                <a class="nav-link" href="{% url 'workshop' %}">our workshop</a>
                <a class="nav-link  active-link" href="{% url 'yourturn' %}">your turn</a>
                <a class="nav-link" href="{% url 'contact' %}">contact us</a>
            </div>
        </div>
    </div>
</nav>